h1 {
    color: #ebe8e8;
    font-size: 113px;
    font-weight: bold;
    margin: 40px;
    line-height: 0.9;
}

p {
    color: #ebe8e8;
}

a {
    width: 50px;
    height: 50px;
    background-color: #a12a2e;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #ebe8e8;
}