* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

body {
    background-color: #242d29;
}

a {
    text-decoration: none;
}

.body-container {
    position: absolute;
    width: 100%;
    top: 100px;
}