#nav-bar {
    position: fixed;
    top: 0;
    z-index: 2;
}

#nav-bar>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    background-color: #a12a2e;
    height: 100px;
    position: fixed;
    width: 100%;
}

li.nav-item {
    display: flex;
    height: 100%;
    min-width: 200px;
    justify-content: center;
    align-items: center;
}

li.nav-item > a {
    color: #ebe8e8;
    font-size: 35px;
    font-weight: bold;
}

.nav-active {
    background-color: #8c1c1f;
}