.card {
    border-radius: 0.9rem !important;
    margin: 10px 0;
}

.card-title {
    font-weight: bold;
    font-size: 20px;
}

.card-text {
    color: black;
    font-size: 14px;
}

.card-subtitle {
    font-weight: bold;
    font-size: 16px;
}